{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <br><br>
    <a class="link2" href="{% url 'readform' %}?book={{ book.id }}">Voeg een beoordeling toe</a>
    <div class="rating-comment">
        <div class="rating-meta">
            {{ book.title }}
            {% if user.is_staff %}
                <form action="{% url 'edit_book' book.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="delete-button">
                        <img src="{% static "base/img/edit.png" %}" alt="Verwijder">
                    </button>
                </form>
            {% endif %}
        </div>
        <div class="rating-book<">
            Auteur: <strong>{{ book.author }}</strong><br>
            Genre: <strong>{{ book.genre }}</strong><br>
            Pagina's: <strong>{{ book.number_of_pages }}</strong><br><br>
            {% if reads %}
                Dit boek heeft <strong>{{ reads }}</strong> beoordeling(en) en <br>heeft als gemiddelde beoordeling:<br>
            {% else %}
                Dit boek heeft nog geen beoordelingen.
            {% endif %}
        </div>
        {% if reads %}
            <div class="rating-stars">
                {% for star in average %}
                    <img src="{% static 'base/img/star-'|add:star|add:'.png' %}" alt="{{ star }} star" class="star">
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}